'menu': [
  {
    'label': 'Edit'
    'submenu': [
      'label': 'Text'
      'submenu': [
        { 'type': 'separator' }
        {
          'label': 'Title Case'
          'command': 'editor:title-case'
        }
      ]
    ]
  }
]
